@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    --color-text: #444;
    --color-design: #0DC4E0;
}
* {
    padding: 0;
    margin: 0;
}
body {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    text-align: center;
}
header {
    margin-bottom: 4rem;
}
main {
    padding: 1rem;
}
footer {
    font-size: 0.8rem;
}
#menu {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--color-design);
    opacity: 0.95;
}
#menu.chiuso {
    transform: translateX(100vw);
    transition: all .5s ease-in-out;
}
#menu.aperto {
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
nav ul {
    margin-top: 6rem;
    list-style: none;
}
nav ul li {
    margin-bottom: 1.6rem;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border: 1px dashed rgba(255 255 255 / 0.5);
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
}
nav a.active {
    background-color: #fff;
    color: var(--color-design);
}
#barra-1, #barra-2, #barra-3 {
    background-color: var(--color-design);
    display: block;
    width: 2rem;
    height: 4px;
    margin: 0.4rem 0;
    transition: .5s;
    border-radius: 2px;
}
#menu-icon {
    cursor: pointer;
    position: fixed;
    right: 1.2rem;
    top: 1rem;
    z-index:20;
}
#menu-icon.trasforma #barra-2 {
    opacity: 0;
}
#menu-icon.trasforma #barra-1 {
    transform: rotate(-45deg) translate(-0.4rem, 0.4rem);
    background-color: #fff;
}
#menu-icon.trasforma #barra-3 {
    transform: rotate(45deg) translate(-0.4rem, -0.4rem);
    background-color: #fff;
}
@media (min-width: 700px) {
    #menu-icon {
        display: none;
    }
    #menu {
        position: relative;
        height: 2.6rem;
        background-color: var(--color-design);
    }
    #menu.chiuso {
        transform: translateX(0);
    }
    nav ul {
        margin-top: 0;
        display: flex;
        height: 2.6rem;
    }
    nav li {
        height: inherit;
        margin-left: 1.2rem;
        line-height: 2.6rem;
    }
    nav li:last-of-type {
        margin-left:auto;
        margin-right: 1rem;
    }
    nav a {
        font-size: 1rem;
    }
}