<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stile.css">
    <script src="/assets/lib.js" defer></script>
    <title>MVC</title>
</head>
<body>
    <header>
        <div id="menu-icon" class="">
            <span id="barra-1"></span>
            <span id="barra-2"></span>
            <span id="barra-3"></span>
        </div>
        <div id="menu" class="chiuso">
            <nav>
                <ul>
                    <?php
                        // foreach($menu as $href => $anchorText) {
                        //     $active = $page === strtolower($anchorText) ? 'active' : '';
                        //     echo "<li><a href='$href' class='$active'>$anchorText</a></li>";
                        // }
                    ?>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{page}}
    </main>

    <footer>
        {{footer}}
    </footer>
</body>
</html>